@page 
@model Web.Pages.MH_SUA_SAN_PHAMModel
@{
    var a = Model.san_pham.Loai_hang;
}
<!DOCTYPE html>
<html>
<head>
    <title>Mặt Hàng</title>
</head>
<body>
    <h3>Sửa Sản Phẩm</h3>
    <form method="POST">
        <div>
            <label>Tên hàng</label><br />
            <input type="text" asp-for="@Model.san_pham.Ten_hang" autofocus /><br />
            <span class="text-danger" asp-validation-for="@Model.san_pham.Ten_hang"></span><br />
        </div>
        <div>
            <label>Hạn dùng</label><br />
            <input type="date" asp-for="@Model.san_pham.Han_dung" /><br />
            <span class="text-danger" asp-validation-for="@Model.san_pham.Han_dung"></span><br />
        </div>

        <div>
            <label>Công ty sản xuất</label><br />
            <input type="text" asp-for="@Model.san_pham.Cong_ty_sx" /><br />
            <span class="text-danger" asp-validation-for="@Model.san_pham.Cong_ty_sx"></span><br />
        </div>

        <div>
            <label>Năm Sản xuất</label><br />
            <input type="number" min="2000" max="2999
                   " step="1" value="2016" asp-for="@Model.san_pham.Nam_sx" /><br />
            <span class="text-danger" asp-validation-for="@Model.san_pham.Nam_sx"></span><br />
        </div>

        <div>
            @Html.DropDownListFor(m => m.id_loai_hang, new SelectList(Model.ds_loai_hang, "Ma_hang", "Ten_loai_hang"),Model.san_pham.Loai_hang)
        </div>


        <div class="group">
            <label for="ta">Số Lượng </label> <br />
            <input class="bg-secondary" readonly="readonly" id="ta" value="@Model.san_pham.Soluong">
        </div>

        <br />
        <input type="submit" value="Sửa" />
    </form>
    <h3>@Model.chuoi</h3>
    <div><a asp-page="/MH_DOC_SAN_PHAM">Trở về trang sản phẩm </a></div>
</body>
</html>