@page
@model Web.Pages.MH_THEM_HOA_DON_BANModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Thêm Hóa Đơn Bán</title>
</head>
<body>
    <h3>Thêm hóa đơn Bán</h3>
    <form method="POST">

        <div>
            <label>Ngày tạo hóa đơn</label><br />
            <input type="date" id="startdateId" asp-for="@Model.hdban.ngay_tao_hoa_don" value="@DateTime.Now" />
            <span asp-validation-for="@Model.hdban.ngay_tao_hoa_don"></span>
        </div>
        <script>
            document.getElementById('startdateId').value = new Date().toISOString().slice(0, 10);
        </script>


        <div class="mb-0">
            <label>Sản Phẩm</label><br />
            @Html.DropDownListFor(m => m.Ten_San_Pham, new SelectList(Model.ds_san_pham, "Ten_hang", "Ten_hang"))<br />
        </div>

        <br />

        <div class="mb-2">
            <label>Số lượng bán</label><br />
            <input type="number" min="1" max="200" value="1" asp-for="@Model.hdban.so_luong" /> <br />
            <span asp-validation-for="@Model.hdban.so_luong"></span><br />

        </div>

        <div>
            <input type="submit" value="Thêm" />
        </div>
    </form>
    <div><a asp-page="/MH_HOA_DON_BAN">Trở về trang hóa đơn bán </a></div>
    <h2>@Model.chuoi</h2>
</body>
</html>