@page
@model Web.Pages.MH_THONG_KE_THE_LOAIModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Mặt Hàng</title>
</head>
<body>
    <form method="get">
        <label>Chọn thể loại</label><br />
        @Html.DropDownListFor(m => m.name, new SelectList(Model.ds_loai_hang, "Ten_loai_hang", "Ten_loai_hang"),"All")<br />
        <input type="submit" value="Thống kê" />
    </form>

    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

    <h2>Sản phẩm</h2>
    <table>
        <tr>
            <th>Mã</th>
            <th>Tên Hàng</th>
            <th>Hạn dùng</th>
            <th>Công ty sản xuất</th>
            <th>Năm sản xuất</th>
            <th>Loại hàng</th>
            <th>Số lượng</th>
        </tr>
        @for (int i = 0; i < Model.ds_san_pham.Count; i++)
        {
            <tr>
                <td>@Model.ds_san_pham[i].Ma</td>
                <td>@Model.ds_san_pham[i].Ten_hang</td>
                <td>@Model.ds_san_pham[i].Han_dung.ToShortDateString()</td>
                <td>@Model.ds_san_pham[i].Cong_ty_sx</td>
                <td>@Model.ds_san_pham[i].Nam_sx</td>
                <td>@Model.ds_san_pham[i].Loai_hang</td>
                <td>@Model.ds_san_pham[i].Soluong</td>
            </tr>
        }
    </table>
</body>
</html>